@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css');


body, html {
    height: 100%;
    margin: 0;
    padding: 0;

}

.mapContainer {
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#map {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: 1;

}

#buttonContainer
{
    position:absolute;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%); /* Zentriert das Element horizontal. */
	height: 130px;
	width: 400px;
	bottom: calc(35% + 80px);
    text-align:center;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: bottom 0.3s;
    max-width: 80%;
    min-width: 350px;
    z-index: 2;
}

#controlTopRow {
    display: flex;
    align-items: center; /* Vertikal zentrieren */
    justify-content: center; /* Horizontal zentrieren */
    height: 40px; /* Höhe des Containers */
    margin: 20px;
    width: 100%;
}

.control_buttons {
    background: none;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    margin: 5px 5px;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
}

.control_buttons:hover {
    background-color: rgba(236, 236, 236, 1)
}

.controlButtonIcon {
    height: 20px;
}

.controlDivider {
    position: relative;
    display: inline;
    background-color: rgba(255, 255, 255, 1);
    height: 50px;
    width: 2px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 1px;
    border: 2px solid white;
}

#buttonContainer, p {
    display: inline;
    margin: 10px;
    text-align: center;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    font-size: 30px;
    color: rgb(119, 194, 115);
    line-height: 50px;
}

#ProgressBar {
    position: absolute;
    background-color: rgb(119, 194, 115);
    width: 80%;
    height: 15px;
    border-radius: 7.5px;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%); /* Zentriert das Element horizontal. */

}

#sidebar {
    width: 100%; /* Breite der Sidebar */
    height: 35%;
    position: fixed;
    bottom: 0px; /* Positioniert die Sidebar außerhalb des sichtbaren Bereichs */
    left: 0; 
    background-color: rgba(255, 255, 255, 1);
    transition: bottom 0.3s;
    z-index: 5;
    /* max-height: 40%; */
    
}

#sidebarcontent {
    flex: 1;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.rightdivision, .rightdivision2 {
    margin-left: 20px;
}

#github-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999;
}

#stats {
    font-family: Arial, sans-serif;
}

#toggleSidebarButton {
    position: absolute;
    left: auto;
    height: 40px;
    top: -40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0 0 0 0;
    z-index: 500;
    font-size: 30px;
    cursor: pointer;
}

#toggleSidebarButton:hover {
    background-color: rgba(236, 236, 236, 1)
}

#toggleSidebarIcon {
    width: 15px;
}



@media screen and (min-width: 1000px) {
    body {
        --sidebar-width: 500px;
    }

    #buttonContainer {
        bottom: 80px;
        left: calc(50% - 250px);
        right: auto;
        transition: left 0.3s;
        transition: bottom 0.3s;

    }

    #sidebar {
        width: var(--sidebar-width); /* Breite der Sidebar */
        height: 100%;
        position: fixed;
        left: auto;
        top: 0;
        right: 0px; /* Positioniert die Sidebar außerhalb des sichtbaren Bereichs */
        background-color: white;
        transition: right 0.3s; /* Fügt eine Animationsübergangseigenschaft hinzu */
        z-index: 5;
        max-width: 100%;
        /* animation: sidebarInitialShow 3s 1; */
    }

    @keyframes sidebarInitialShow {
        0% {right: calc(0px - var(--sidebar-width));}
        100% {right: 0px;}
        
    }

    #toggleSidebarButton {
        position: absolute;
        top: 0px;
        left: -40px;
        height: 100%;
        width: 40px;
        background-color: white;
        border: none;
        z-index: 500;
        font-size: 30px;
    }

    #toggleSidebarIcon {
        src: './frontend/icons/control/ArrowRight.png';
    }

    #sidebarcontent {
        width: 100%;
        height: auto;
    }
}